
<h1>ADMINISTRATOR PAGE</h1>

Click here for the <a href="./index">Index</a>
<br>
Click here for the <a href="./two">Page Two</a>
<br>
Click here for the <a href="./three">Page Three</a>
<br><br>




</body>
</html>