
<h1>ADMINISTRATOR PAGE</h1>

Click here for the <a href="./index">Index</a>
<br>
Click here for the <a href="./two">Page Two</a>
<br>
Click here for the <a href="./three">Page Three</a>
<br><br><br>




<form action="/" method="post">
    <label for="adminUsername">Admin Username:</label>
    <input type="text" name="adminUsername">
    <br>
    <label for="adminPassword">Admin Password:</label>
    <input type="text" name="adminPassword">
    <br>
    <input type="submit" value="submit">
</form>



</body>
</html>