<h1>INDEX PAGE</h1>

Click here for the <a href="./index">Index</a>
<br>
Click here for the <a href="./two">Page Two</a>
<br>
Click here for the <a href="./three">Page Three</a>
<br>
Click here for the <a href="./admin">Administrator Page</a>

<br><br><br><br><br><br><br><br><br><br>


<form action="/" method="post">
    <label for="city">City:</label>
    <input type="text" name="city">
    <br>
    <label for="countryCode">country code:</label>
    <input type="text" name="countryCode">

    <br>
    <input type="submit" value="submit">
</form>

