<h1>INDEX PAGE</h1>

Click here for the <a href="./index">Index</a>
<br>
Click here for the <a href="./two">Page Two</a>
<br>
Click here for the <a href="./three">Page Three</a>
<br>
Click here for the <a href="./admin">Administrator Page</a>

<br><br><br>


<ul>
{{#if loggedIn}}
    <a href="/logout">Logout</a>
{{else}}
    <a href="/index">Login</a>
    <a href="/signup">Signup</a>
{{/if}}
</ul>



<form action="/" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="text" name="password">
    <br>
    <input type="submit" value="SUBMIT">
</form>
