
<h1>PAGE TWO</h1>

Click here for the <a href="./index">Index</a>
<br>
Click here for the <a href="./two">Page Two</a>
<br>
Click here for the <a href="./three">Page Three</a>
<br>
Click here for the <a href="./admin">Administrator Page</a>
<br><br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, totam, expedita, sequi animi obcaecati neque maiores dignissimos hic assumenda nam eum doloremque! Similique magnam repellat suscipit dolores quidem natus eligendi?</p>

<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id excepturi nisi veniam atque dolorum harum reiciendis illo ipsam unde earum? Voluptatibus tempore fugiat quam illo nostrum delectus velit officiis debitis!</P>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, totam, expedita, sequi animi obcaecati neque maiores dignissimos hic assumenda nam eum doloremque! Similique magnam repellat suscipit dolores quidem natus eligendi?</p>

<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id excepturi nisi veniam atque dolorum harum reiciendis illo ipsam unde earum? Voluptatibus tempore fugiat quam illo nostrum delectus velit officiis debitis!</P>


</body>
</html>